__pycache__/
*.py[cod]
*.swp
*.egg-info/

.cache/
.coverage
htmlcov/
cihtmlcov/

vols/

docs/send.json
docs/composed.json
.pytest_cache/
.mypy_cache/
.typing_modules/

.idea

configpatch.local.json
config.patched.json
config.local.json

# For local development
/.env
/.python-version
.venv/
venv
fresh-requirements.txt

.ipynb_checkpoints/
